<!DOCTYPE html>
<html>
  <head>
    <title>Testapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" type="text/css" href="./swagger/swagger-ui.css" />

    <script src="./swagger/swagger-ui-bundle.js" charset="UTF-8"> </script>
    <script src="../swagger/swagger-ui-standalone-preset.js" charset="UTF-8"> </script>
  </head>
  <style>
    #swagger-ui {position:relative; top:-40px;}
    #swagger-ui div.topbar {display:none}
    #swagger-ui .info h2.title {display:none}
    #swagger-ui div.information-container.wrapper {padding:0px;}
    #content-wrapper {
      box-sizing: border-box;
      margin: 0 auto;
      max-width: 1460px;
      padding: 0 20px;
      width:100%;
    }
    code {
      color:white;
      background-color:black;
      padding:3px;
      display:block;
      margin-left:20px;
    }
    li {margin-bottom:15px;}
  </style>

  <body>
    <div id="content-wrapper">
      <%= yield %>
    </div>
  </body>
</html>
